.page-header {
  background-image: url();
  background-color: black;
  background-size: cover;
  height: 300px;
}
.page-header .heading {
  font-family: "Gruppo";
  text-align: center;
  padding-top: 3em;
}

h1 {
  color: aliceblue;
  text-align: center;
}

#about {
  background-image: url(/images/background-gradient-1.jpg);
  background-size: cover;
  background-position: center;
}
#about .summary {
  border: 2px solid #ba0d0d;
  background: none;
  padding: 1em;
  margin-top: 2em;
  box-shadow: 2px 2px 5px 0px black;
  color: #fff;
  box-shadow: 2px 2px 5px 0px black;
}
#about .skills {
  border: 2px solid #fb9713;
  background: none;
  padding: 1em;
  margin-top: 2em;
  box-shadow: 2px 2px 5px 0px black;
  color: #fff;
  margin-bottom: 2em;
}
#about .skills img {
  padding: 0.5em;
  height: 50px;
}
#about .work-history {
  border: 2px solid #0f37af;
  background: none;
  padding: 1em;
  margin-top: 2em;
  box-shadow: 2px 2px 5px 0px black;
  color: #fff;
  margin-bottom: 2em;
}
#about .work-history * {
  background: none;
  color: #fff;
}

#projects {
  background-image: url(/images/background-gradient-4.jpg);
  background-size: cover;
  background-position: center;
}
#projects h4 {
  color: #fff;
  text-align: center;
}
#projects .red {
  width: 18rem;
  border: 2px solid #ba0d0d;
  background: none;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: 2px 2px 5px 0px black;
  color: #fff;
}
#projects .red .img-container {
  overflow: hidden;
}
#projects .red img:hover {
  transition: 1s;
  opacity: 0.3;
  transform: scale(1.2);
}
#projects .blue {
  width: 18rem;
  border: 2px solid #0f37af;
  background: none;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: 2px 2px 5px 0px black;
  color: #fff;
}
#projects .blue .img-container {
  overflow: hidden;
}
#projects .blue img:hover {
  transition: 1s;
  opacity: 0.3;
  transform: scale(1.2);
}
#projects .yellow {
  width: 18rem;
  border: 2px solid #fb9713;
  background: none;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: 2px 2px 5px 0px black;
  color: #fff;
}
#projects .yellow .img-container {
  overflow: hidden;
}
#projects .yellow img:hover {
  transition: 1s;
  opacity: 0.3;
  transform: scale(1.2);
}

.modal-content {
  display: contents !important;
}
.modal-content .modal-body {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content .modal-body .close {
  text-align: right;
}
.modal-content .modal-body .close svg {
  margin-top: 2em;
  margin-bottom: 2em;
}
.modal-content .modal-body .close svg:hover {
  fill: #ba0d0d;
}
.modal-content .modal-body .project-modal-carousel {
  margin: auto;
  background-color: #212529;
  border: 3px #212529 solid;
  border-radius: 5px;
}

#contact {
  background-image: url(/images/background-gradient-2.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 2em;
}
#contact p {
  text-align: center;
  color: #fff;
}
#contact form {
  border: 2px solid #0f37af;
  background: none;
  padding: 1em;
  margin-top: 2em;
  box-shadow: 2px 2px 5px 0px black;
  color: #fff;
}

footer {
  background-color: black;
  height: auto;
}
footer p {
  margin: 0;
  text-align: center;
  padding: 2em;
  color: #fff;
}

/*# sourceMappingURL=build.css.map */
