$primary-color: black;
$red: rgb(186, 13, 13);
$yellow: rgb(251, 151, 19);
$blue: rgb(15, 55, 175);
$dark: rgb(33, 37, 41);
$shadow: 2px 2px 5px 0px black;

@mixin theme($border-color: #fff, $background: none) {
  border: 2px solid $border-color;
  background: $background;
  padding: 1em;
  margin-top: 2em;
  box-shadow: $shadow;
  color: #fff;
}

@mixin projects($border-color: none, $background: none) {
  width: 18rem;
  border: 2px solid $border-color;
  background: $background;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: $shadow;
  color: #fff;
}

@mixin zoom-effect {
  transition: 1s;
  opacity: 0.3;
  transform: scale(1.2);
  cursor: pointer;
}

// Styling for header
.page-header {
  background-image: url();
  background-color: $primary-color;
  background-size: cover;
  height: 300px;
  .heading {
    font-family: 'Gruppo';
    text-align: center;
    padding-top: 3em;
    color: aliceblue;
  }
}
// Styling for header ends

// Styling for about page
#about {
  background-image: url(/images/background-gradient-1.jpg);
  background-size: cover;
  background-position: center;
  .summary {
    @include theme($border-color: $red);
    box-shadow: $shadow;
  }
  .skills {
    @include theme($border-color: $yellow);
    margin-bottom: 2em;
    img {
      padding: 0.5em;
      height: 50px;
    }
  }
  .work-history {
    @include theme($border-color: $blue);
    margin-bottom: 2em;
    * {
      background: none;
      color: #fff;
    }
    .accordion-button::after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
    .accordion-button:not(.collapsed)::after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      transform: rotate(-180deg);
    }
  }
}
// Styling for about page ends

// Styling for projects page
#projects {
  background-image: url(/images/background-gradient-4.jpg);
  background-size: cover;
  background-position: center;
  // .img-container {
  //   overflow: hidden;
  //   img:hover {
  //     @include zoom-effect();
  //   }
  // }
  h4 {
    color: #fff;
    text-align: center;
  }
  .project-1 {
    @include projects($border-color: $red);
  }
  .project-2 {
    @include projects($border-color: $blue);
  }
  .project-3 {
    @include projects($border-color: $yellow);
  }
}

*[class*='project-'] > .img-container {
  overflow: hidden;
  img:hover {
    @include zoom-effect();
  }
}

.modal-content {
  display: contents !important;
  .modal-body {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    .close {
      text-align: right;
      svg {
        margin-top: 2em;
        margin-bottom: 2em;
      }
      svg:hover {
        fill: $red;
      }
    }
    .project-modal-carousel {
      margin: auto;
      background-color: $dark;
      border: 3px $dark solid;
      border-radius: 5px;
    }
  }
}
// Styling for projects page ends

// Styling for contact page
#contact {
  background-image: url(/images/background-gradient-2.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 2em;
  h4 {
    text-align: center;
    color: #fff;
  }
  form {
    @include theme($border-color: $blue);
  }
}
// Styling for contact page ends

// Styling for footer
footer {
  background-color: black;
  height: auto;
  p {
    margin: 0;
    text-align: center;
    padding: 2em;
    color: #fff;
  }
}
// Styling for footer ends
