$primary-color: black;
$red: rgb(186, 13, 13);
$yellow: rgb(251, 151, 19);
$blue: rgb(15, 55, 175);
$dark: rgb(33, 37, 41);
$light: rgb(248, 249, 250);
$shadow: 3px 3px 7px 0px #000;

@mixin theme($border-color: #fff, $background: none) {
  border: 2px solid $border-color;
  background: $background;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: $shadow;
  color: #fff;
  border-radius: 5px;
}

@mixin projects($border-color: none, $background: none) {
  width: 18rem;
  border: 2px solid $border-color;
  background: $background;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: $shadow;
  color: #fff;
}

@mixin zoom-effect {
  transition: 1s;
  opacity: 0.3;
  transform: scale(1.2);
  cursor: pointer;
}

body {
  background-image: url(/images/coding-gad6dcc31b_1920.jpg);
  background-attachment: fixed;
  background-size: cover;
}

// Styling for navbar
nav {
  a {
    text-decoration: none;
    .nav-icon {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}

// Styling for header
.page-header {
  background-color: $primary-color;
  opacity: 0.7;
  height: 300px;
  .heading {
    font-family: 'Gruppo';
    text-align: center;
    padding-top: 3em;
    color: aliceblue;
  }
}
// Styling for header ends

// Styling for about page
#about {
  // background-image: url(/images/background-gradient-1.jpg);
  // background-size: cover;
  // background-position: center;
  background-color: $dark;
  padding: 2.5rem 0 2.5em 0;

  .summary {
    @include theme($border-color: $yellow);
    box-shadow: $shadow;
  }
  .skills {
    @include theme($border-color: $yellow);

    img {
      padding: 0.5em;
      height: 50px;
    }
    .skill-container {
      display: flex;
      gap: 20px;
    }
  }
  .work-history {
    @include theme($border-color: $yellow);

    * {
      background: none;
      color: #fff;
    }
    .accordion-item:first-child {
      border-bottom: 1px solid rgb(248, 249, 250, 0.25);
    }
    .accordion-button:focus {
      box-shadow: none;
    }
    .accordion-button:hover {
      box-shadow: 0 0 0 1px rgb(251, 151, 19);
    }

    .accordion-button::after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
    .accordion-button:not(.collapsed)::after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fb9713'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      transform: rotate(-180deg);
    }
  }
}
// Styling for about page ends

// Styling for projects page
#projects {
  // background-image: url(/images/background-gradient-4.jpg);
  // background-size: cover;
  // background-position: center;
  background-color: $dark;
  padding: 2.5rem 0 2.5em 0;
  margin: 0;
  h4 {
    color: #fff;
    text-align: center;
    margin-top: 1.5rem;
  }
  .project-1 {
    @include projects($border-color: $yellow);
  }
  .project-2 {
    @include projects($border-color: $yellow);
  }
  .project-3 {
    @include projects($border-color: $yellow);
  }
  .row {
    margin: 0;
  }
}

*[class*='project-'] > .img-container {
  overflow: hidden;
  img:hover {
    @include zoom-effect();
  }
}

.modal-content {
  display: contents !important;
  .modal-body {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    .close {
      text-align: right;
      svg {
        margin-top: 2em;
        margin-bottom: 2em;
      }
      svg:hover {
        fill: $red;
      }
    }
    .project-modal-carousel {
      margin: auto;
      background-color: $dark;
      border: 3px $dark solid;
      border-radius: 5px;
    }
  }
}
// Styling for projects page ends

// Styling for contact page
#contact {
  // background-image: url(/images/background-gradient-2.jpg);
  // background-size: cover;
  // background-position: center;
  background-color: $dark;
  padding: 2.5rem 0 2.5em 0;
  h4 {
    text-align: center;
    color: #fff;
    margin-top: 1.5rem;
  }
  form {
    @include theme($border-color: $yellow);
  }
}
// Styling for contact page ends

// Styling for footer
footer {
  background-color: $light;
  height: auto;
  p {
    margin: 0;
    text-align: center;

    color: #000;
  }
}
// Styling for footer ends
