.page-header {
  background-image: url();
  background-color: rgb(49, 33, 82);
  background-size: cover;
  height: 300px;
  .heading {
    font-family: 'Gruppo';
    text-align: center;
    padding-top: 3em;
  }
}
h1 {
  color: aliceblue;
  text-align: center;
}
